@import "../../../../scss/extends";
@import "../../../../scss/media-queries";
@import "../../../../scss/mixims";
@import "../../../../scss/variables";

#Direct_Line3 {
  margin: auto;
  margin-top: 1.56rem;
  min-height: 39.125rem;
  background-color: $background;
  border-radius: 1rem;
  @include mobile {
    width: 100%;
    padding: 0.3rem;
  }
  @include desktop {
    width: 78rem;
    padding: 1rem 2.25rem;
  }
  .table {
    .row,
    .header {
      @include grid(4);
    }
    .header {
      margin-bottom: 1.38rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      div {
        span {
          color: $mainText;
          text-align: center;

          /* Desktop/Heading 5 */
          font-family: Lato;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .row {
      padding: 1rem;
      border-bottom: 1px solid $foreground;
      &:last-child {
        border-color: transparent;
      }
      .text {
        color: $bodyText;

        /* Desktop/Heading 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .one {
        @include flex_center();
        gap: 1rem;
        .icon {
          width: 3rem;
          height: 3rem;
        }
      }
      .four {
        .text {
          color: #10c10c;
        }
      }
    }
    @include mobile {
      display: none;
    }
    @include desktop {
      display: grid;
    }
  }
  .showMobileTable {
    @include mobile {
      display: flex;
    }
    @include desktop {
      display: none;
    }
  }
}
