@import "../../../scss/extends";
@import "../../../scss/variables";
@import "../../../scss/media-queries";
@import "../../../scss/mixims";

#Provider {
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding: 0.5rem;
  h3 {
    //styleName: Desktop/Heading 5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: $primary;
  }
  .texts {
    //styleName: Desktop/Body 5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: $bodyText;
    padding: 1rem;
    background-color: $foreground;
    border: 1px solid $bodyText;
    border-radius: 1rem;
    margin-top: 0.5rem;
    min-height: 156px;
  }
  .line1 {
    @include flex_between();
    // border: 1px solid red;
    width: 90%;
    margin-top: 2rem;
    label {
      //   border: 1px solid red;
      @include flex_center();
      flex-shrink: 0;
    }
    .label {
      flex-shrink: 2;
    }
    .facebook {
      .MuiSwitch-root {
        box-sizing: border-box;
        border-radius: 1.2rem;
        // width: 3.25rem;
        // height: 2rem;
        background-color: $secondary !important;
      }
      .Mui-checked {
        color: $background;
      }
    }
    span.MuiSwitch-thumb,
    .css-jsexje-MuiSwitch-thumb {
      border: none !important;
      outline: none !important;
    }
    .MuiSwitch-root,
    .MuiSwitch-sizeMedium,
    .css-julti5-MuiSwitch-root {
      // border: 1px solid transparent !important;
      background-color: $foreground;
      border-radius: 1.2rem;
    }
  }
  .line2 {
    @include flex_between();
    padding-left: 2rem;
  }
  .btns {
    @include flex_center();
    margin-top: 2rem;
    button {
      //styleName: Desktop/Body 5;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      color: $background;
      background-color: $primary;
      outline: none;
      border: none;
      padding: 16px 32px 16px 32px;
      border-radius: 16px;
      cursor: pointer;
    }
  }
}
