$header_bg: rgb(0, 61, 43);
$sub_header_bg: rgb(149, 206, 165);
$list_text_col: rgb(175, 175, 175);
$sub_header_text_col: rgb(58, 104, 78);
$header-text-color: rgb(228, 229, 229);
$tab_active_text_col: rgb(6, 83, 65);
$tab_text_col: rgb(155, 155, 155);
$tab_border_col: rgb(67, 90, 80);
$box_shadow_col: rgb(199, 199, 199);
$hover_col: #aa56f9;
$coinsetting_bg: rgb(143, 197, 161);
$warning: rgb(243, 83, 87);
$whiteText: white;

$primary: #003d2b;
$secondary: #95cea5;
$mainText: #000000e5;
$bodyText: #808080;
$background: #ffffff;
$foreground: #f2f2f2;
$active: #27ff64;
$inactive: #0000004d;
