@import "../../../scss/extends";
@import "../../../scss/googlesans";
@import "../../../scss/media-queries";
@import "../../../scss/mixims";
@import "../../../scss/variables";

#WatchListCard {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  @include grid(1);
  gap: 0.5rem;
  padding: 1rem;
  @include shadow();
  .line1 {
    @include grid(3);
    width: 80%;
    .redTextBg {
      border-radius: 4px;
      background-color: $warning;
      width: 2.5rem;
      height: 2rem;
      button {
        font-size: 1rem;
        color: $whiteText;
      }
      @include flex_center();
    }
    .icon {
      font-size: 3rem;
      //   border: 1px solid red;
      @include flex_center();
    }
    .pair {
      font-weight: 500;
      font-size: 1.3rem;
    }
  }
  .line2 {
    width: 50%;
    height: auto;
    // border: 1px solid blue;
    @include flex_between();
    justify-content: start;
    gap: 1.5rem;
    .buy {
      color: $sub_header_text_col;
      font-size: 1rem;
    }
    .price {
      font-weight: 800;
      font-size: 1rem;
    }
  }
}
