@import "../../../../scss/extends";
@import "../../../../scss/media-queries";
@import "../../../../scss/mixims";
@import "../../../../scss/variables";

#Direct_line2 {
  gap: 1.98rem;
  @include mobile {
    @include grid(1);
    padding-left: 0rem;
    padding-right: 0rem;
  }
  @include desktop {
    padding-left: 3rem;
    padding-right: 3rem;
    @include grid(4);
  }
  .card {
    padding: 2.25rem;
    @include flex_col();
    justify-content: flex-start;
    background-color: $background;
    border-radius: 1rem;
    @include mobile {
      width: 100%;
    }
    @include desktop {
      width: 16.625rem;
    }
    .img {
      width: 2.25rem;
      height: 2.25rem;
      background-color: $secondary;
      @include flex_center();
      border-radius: 50%;
      padding: 0.3rem;
      margin-bottom: 1rem;
    }
    h3 {
      color: $mainText;

      /* Desktop/Heading 2 */
      font-family: Lato;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0.5rem;
    }
    p {
      color: $bodyText;

      /* Desktop/Heading 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
