@import "../scss/extends";
@import "../scss/media-queries";
@import "../scss/mixims";
@import "../scss/variables";

#LearnMore {
  text-align: left;
  width: 100%;
  .learn-more {
    @include flex_between();
    justify-content: flex-start;
    width: 100%;
    color: $mainText;
    text-decoration: none;

    /* Desktop/Body 5 */
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    .icon {
      // @include image("/chevron-right.svg");
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
