@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/mixims";
@import "../../scss/googlesans";

#Manual {
  .available-coins {
    cursor: pointer;
    @include mobile {
      @include grid(1);
      .coin {
        width: 85%;
        margin: 1rem 0rem;
        padding: 1rem;
        border-radius: 7px;
        @include shadow();
        .block {
          @include grid(3);
          div {
            @include flex_col();
            gap: 1rem;
            .btc,
            .bnd {
              color: gold;
              font-size: 1.5rem;
            }
            .eth {
              font-size: 1.5rem;
            }
            .gray {
              color: $list_text_col;
            }
            .price {
              color: $list_text_col;
              font-weight: 600;
              font-size: 1rem;
            }
            .green {
              color: green;
              font-weight: 600;
              font-size: 1rem;
            }
          }
        }
        .watch {
          color: $list_text_col;
          margin-top: 0.5rem;
          cursor: pointer;
        }
      }
    }
    @include desktop {
    }
  }
  .more {
    text-align: left;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    span {
      border: 1px solid green;
      padding: 0.5rem 1.5rem;
      border-radius: 7px;
      width: fit-content;
      cursor: pointer;
    }
  }
}
