@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

#ScrollX {
  @include mobile {
    overflow-x: scroll;
  }
  @include tablet {
    overflow-x: scroll;
  }
  @include desktop {
    overflow-x: unset;
  }

  &::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  scrollbar-width: thin;
  scrollbar-color: $primary;
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
    border: 0px solid transparent;
  }
}
