@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

.Dash_line2 {
  // width: unset;
  min-height: 12.875rem;
  background-color: $primary;
  width: 100%;
  margin: auto;
  display: grid;
  // grid-template-columns: repeat(auto-fit,minMax(200px,1fr));
  place-items: center;
  @include mobile {
    @include grid(1);
    padding: 0.3rem;
    gap: 1rem;
  }
  @include desktop {
    padding: 2.25rem;
    @include grid(4);
  }
  border-radius: 1rem;
  margin-top: 2.63rem;
  .img {
    @include image("../../../assets/handcoin.PNG");
    width: 8rem;
    height: 8rem;
    // border: 1px solid red;
    background-size: cover;
  }
  .cell2 {
    width: 25rem;
    // border: 1px solid red;
    margin-right: 1rem;
    h3 {
      color: $secondary;
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }
    p {
      color: $background;
      font-size: 1rem;
      text-wrap: wrap;
      width: 100%;
    }
  }
  .bt,.logo{
    width: fit-content;
    // border: 1px solid red;
  }
}
