@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

#Hero {
  width: 100%;
  min-height: 47.25rem;
  padding-top: 3rem;

  background: radial-gradient(
    104.39% 45.14% at 56.45% 11.64%,
    #0cbc8b 0%,
    #06815f 44.63%,
    #003d2b 96.83%
  );
  .line2 {
    @include mobile {
      @include grid(1);
    }
    @include desktop {
      @include grid(2);
    }
    gap: 3.31rem;
    margin-top: 4.31rem;
    // border: 1px solid red;
    .boxa {
      //   border: 1px solid white;
      height: auto;
      height: 28.625rem;
      @include flex_col();
      gap: 1.5rem;
      h3 {
        color: var(--Secondary, #95cea5);

        /* Desktop/Heading 2 */
        font-family: Lato;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 6.44rem;
      }
      p {
        color: var(--background, #fff);

        /* Desktop/body 3 */
        font-family: Lato;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-wrap: wrap;
        width: 95%;
      }
      .btns {
        @include flex_between();
        justify-content: start;
        gap: 1rem;
        .get-started {
          gap: 0.625rem;
          display: flex;
          padding: 1rem 2rem;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
          background: var(--background, #fff);
          width: 9.6875rem;
          color: var(--Primary, #003d2b);
          text-align: center;

          /* Desktop/Body 5 */
          font-family: Lato;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
        }
        .watch {
          display: flex;
          padding: 1rem 2rem;
          justify-content: center;
          align-items: center;
          gap: 0.625rem;
          border-radius: 1rem;
          border: 1px solid var(--background, #fff);
          color: var(--background, #fff);
          text-align: center;

          /* Desktop/Body 5 */
          font-family: Lato;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
        }
      }
      @include mobile {
        width: 90%;
        margin-left: 0rem;
      }
      @include desktop {
        margin-left: 6.31rem;
        width: 51.39vw;
      }
    }
    .boxb {
      //   border: 1px solid white;
      height: 28.625rem;
      @include image("../../../../public/hero_image.svg");
      @include mobile {
        width: 90%;
      }
      @include desktop {
        width: 31.34vw;
      }
    }
  }
}
