@import "../../../scss/extends";
@import "../../../scss/media-queries";
@import "../../../scss/mixims";
@import "../../../scss/variables";

#TrackApplication {
  @include grid(1);
  width: 23.5rem;
  h3 {
    color: $primary;
    text-align: center;

    /* Desktop/Heading 4 */
    font-family: Lato;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2.19rem;
  }

  .app_line1 {
    margin-top: 3.37rem;
    .img {
      margin-bottom: 1rem;
      @include flex_center();
    }
    .p {
      p {
        color: $mainText;
        text-align: center;

        /* Desktop/Heading 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .pri_line8 {
    margin-top: 4.5rem;
    @include flex_center();
    // justify-content: ;
    button {
      @include flex_center();
      width: 8.1875rem;
      height: 3.6875rem;
      padding: 1rem 2rem;

      gap: 0.625rem;
      color: $background;
      text-align: center;

      /* Desktop/Body 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 1rem;
      background-color: $primary;
      border: none;
      outline: none;
    }
  }
  .pri_line9 {
    margin-top: 3.38rem;
    @include flex_between();
    justify-content: flex-start;
    gap: 0.5rem;
    .level {
      width: 5.5rem;
      height: 5px;
      border-radius: 5px;
      background-color: $primary;
    }
    .not-level {
      width: 5.5rem;
      height: 5px;
      border-radius: 5px;
      background-color: $foreground;
    }
  }
}
