@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

.Register_4 {
  @include flex_center();
  #Reg-4 {
    // border: 1px solid blue;
    a {
      text-decoration: none;
    }
    @include grid(1);
    gap: 0.5rem;
    width: 31.6875rem;
    .img {
      //   border: 1px solid red;
      width: 25.66125rem;
      height: 18.79338rem;
      @include image("/StartupLaunch.svg");
    }
    .line1 {
      h3 {
        color: var(--Primary, #003d2b);

        /* Desktop/Heading 3 */
        font-family: Lato;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
      }
      p {
        color: var(--Body-text, #808080);
        text-align: center;

        /* Desktop/Body 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    button {
      cursor: pointer;
    }
    // height: 50vh;
    // background-color: red !important;
  }
}
