@import "../../../scss/extends";
@import "../../../scss/media-queries";
@import "../../../scss/mixims";
@import "../../../scss/variables";

#Direct {
  .line3 {
    margin-top: 2.44rem;
    @include flex_center();
    // border: 1px solid red;
    fieldset {
      width: 32.3125rem;
      height: 2.5rem;
      border: none;
      background-color: $background;
      border-radius: 1rem;
      padding-right: 0.5rem;
      @include flex_center();
      input {
        padding: 0.5rem 1rem;
        width: 95%;
        height: 2.5rem;
        color: $bodyText;
        border-radius: 1rem;

        /* Desktop/Body 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        outline: none;
        &:focus {
          color: $mainText;
        }
      }
      label {
        @include flex_center();
        width: 5%;
        height: inherit;
      }
    }
  }
}
