* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import "../scss/scss/variable";
@import "../scss/scss/mixin";
@import "../scss/scss/root";
@import "../scss/scss/header";
@import "../scss/scss/footer";
@import "../scss/scss/button";
@import "../scss/scss/base";
@import "../scss/scss/style";
