@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

#Manager {
  background-color: $background;
  margin: 2rem 1rem;
  .line1 {
    margin-bottom: 1rem;
  }
  .line2 {
    @include flex_center();
    label {
      color: $bodyText;

      /* Desktop/Body 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    div {
      color: $mainText;

      /* Desktop/Heading 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
