@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

#Dash_line1 {
  // border: 1px solid red;
  @include mobile {
    @include grid(1);
    place-items: left;
    gap: 2rem;
    padding: 0.2rem;
  }
  @include desktop {
    @include flex_center();
    gap: 14.3125rem;
    padding: 2.25rem;
    width: 100%;
  }
  border-radius: 1rem;
  background: $background;
  .boxa {
    @include flex_between();
    gap: 1rem;
    img {
      width: 6rem;
      height: 6rem;
    }
    h3 {
      color: $mainText;

      /* Desktop/Heading 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    h1 {
      color: $mainText;

      /* Desktop/Heading 3 */
      font-family: Lato;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      .eye {
        color: $bodyText;
      }
    }
    p {
      color: $bodyText;

      /* Desktop/Body 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .boxb {
    @include flex_between();
    @include mobile {
      gap: 0.2rem;
    }
    @include desktop {
      gap: 1rem;
    }
  }
}
