@import "../scss/extends";
@import "../scss/media-queries";
@import "../scss/variables";
@import "../scss/mixims";
@import "../scss/googlesans";

.Header {
  // border: 1px solid red;
  .line1 {
    @include flex_between();
    align-content: top;
    justify-content: start;
    background-color: $header_bg;
    color: $header-text-color;
    height: 20vh;
    padding-bottom: 3rem;
    padding-left: 1rem;
    @include googlesans();
    padding-top: 1rem;
    border-radius: 0rem 0rem 15% 15%;
    a {
      @include googlesans();
      color: $header-text-color;
      @include flex_center();
      font-size: 1.1rem;
    }
    .text {
      @include googlesans();
      margin-left: 2rem;
      font-size: 1.5rem;
    }
  }
  .subheader {
    width: 90%;
    background-color: $sub_header_bg;
    margin: auto;
    height: 10vh;
    margin-top: -5vh;
    border-radius: 10px;
    text-align: center;
    @include flex_center();
    .text {
      width: 70%;
      margin: auto;
      padding-bottom: 0.4rem;
      border-bottom: 2px solid $tab_border_col;
      font-size: 1.5rem;
      font-weight: 500;
    }
    @include shadow();
  }
}
