@import "../../scss/style.scss";
#Galary {
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 1rem;
  min-height: 100vh;
  //   border: 1px solid red;

  h2 {
    // font-size: 3rem;
    // margin-bottom: 1rem;
    color: var(--px-white);
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0 0 30px;
    @include down-lg {
      font-size: 45px;
      margin: 0 0 20px;
    }
    @include down-sm {
      font-size: 38px;
      margin: 0 0 10px;
    }
  }
  .center {
    width: 85%;
    margin: auto;
    img {
      // border: 4px solid white;
      margin: auto;
      height: 55vh;
      margin: 0.1rem;
      object-position: right;
      object-fit: contain;
      object-position: center;
      // padding: 2rem;
      &:hover {
        border-color: transparent;
        transform: scale(1.1);
        transition: 0.4s ease-in-out;
      }
    }
  }
}
