@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

#Dash_line3 {
  width: 100%;
  height: 55.9375rem;
  background-color: $background;
  @include mobile {
    padding: 0.2rem;
    margin-top: 0.88rem;
    @include grid(1);
    // place-items: start;
  }
  @include desktop {
    margin-top: 3.88rem;
    padding: 2.69rem 3.81rem;
    @include grid(1);
    place-items: start;
  }

  .line1 {
    .css-19tsvvk {
      @include flex_between();
      // justify-content: flex-start;
      width: fit-content;
      //   border: 1px solid red;
      gap: 0.5rem;
      label {
        width: 1.5rem;
        height: 1.5rem;
        @include flex_center();
      }
    }
    @include mobile {
      // order: 3;
      display: none;
    }
    @include desktop {
      order: 3;
      display: flex;
    }
  }
  .line2 {
    @include flex_between();
    .boxa {
      @include flex_between();
      justify-content: flex-start;
      @include mobile {
        display: none;
      }
      @include desktop {
        display: flex;
      }
      gap: 2.56rem;
      .circle-box {
        width: 12.5rem;
        height: 12.5rem;
        // border: 1px solid red;
        position: relative;
        .cell {
          position: absolute;
          top: 35%;
          left: 20%;
          text-align: center;
          h3 {
            color: $mainText;

            /* Desktop/Heading 4 */
            font-family: Lato;
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          p {
            color: $bodyText;

            /* Desktop/Caption */
            font-family: Lato;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }
        }
      }
      .cell2 {
        @include flex_col();
        gap: 0.5rem;
        .line {
          @include flex_between();
          justify-content: flex-start;
          gap: 0.25rem;
          .texts {
            @include flex_col();
            gap: 0.25rem;
            h3 {
              color: var(--Body-text, #808080);
              font-family: Lato;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
            }
            p {
              color: var(--Main-text, rgba(0, 0, 0, 0.9));

              /* Desktop/Caption */
              font-family: Lato;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
              align-self: flex-end;
              height: 0.875rem;
            }
          }
          .colo {
            width: 1.5rem;
            height: 0.375rem;
            align-self: flex-end;
          }
        }
        .pri {
          .colo {
            background-color: $primary;
          }
        }
        .sec {
          .colo {
            background-color: $secondary;
          }
        }
        .ter {
          .colo {
            background-color: #d8fae2;
          }
        }
      }
      .cell3 {
        @include flex_col();
        gap: 0.2rem;
        h3 {
          color: $mainText;
          @include flex_between();
          gap: 0.5rem;
          justify-content: flex-start;
          /* Desktop/Heading 5 */
          font-family: Lato;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          .eye {
            color: $bodyText;
          }
        }
        h2 {
          color: $mainText;

          /* Desktop/Heading 4 */
          font-family: Lato;
          font-size: 1.75rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          color: $bodyText;

          /* Desktop/Caption */
          font-family: Lato;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          .red {
            color: #a70404;
          }
        }
      }
    }
    .boxb {
      @include flex_col();
      // gap: 1rem;
      border-radius: 1.25rem;
      border: 1px solid $foreground;
      background: #fff;
      padding: 0.62rem 1rem;
      h3 {
        color: $mainText;
        @include flex_between();
        gap: 0.5rem;
        justify-content: flex-start;
        /* Desktop/Heading 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0.5rem;
      }
      p {
        @include flex_between();
        gap: 0.5rem;
        justify-content: flex-start;
        color: $bodyText;
        font-family: Lato;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0.7rem;
      }
      .assets {
        @include flex_between();
        justify-content: flex-start;
        gap: 2rem;
        padding: 0.5rem 0.625rem;
        border-bottom: 1px solid $bodyText;
        &:last-child {
          border-bottom: none;
        }

        .cell1 {
          .img {
            width: 3rem;
            height: 3rem;
          }
        }
        .cell2 {
          h4 {
            color: $mainText;

            /* Desktop/Heading 5 */
            font-family: Lato;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          p {
            color: $bodyText;

            /* Desktop/Body 5 */
            font-family: Lato;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    @include mobile {
      order: 2;
    }
    @include desktop {
      order: 2;
    }
  }
  #Lline3 {
    margin-top: 5rem;
    // color: #8080801a;
    .line1 {
      @include flex_between();
      flex-direction: column;
      // border: 1px solid red;
      @include mobile {
        display: none;
      }
      @include desktop {
        display: flex;
      }
      .cell1 {
        h4 {
          @include flex_between();
          justify-content: flex-start;
          gap: 0.5rem;
          color: $mainText;

          /* Desktop/Heading 5 */
          font-family: Lato;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .cell2 {
        // border: 1px solid blue;
        @include flex_between();
        // flex-direction: column;
        justify-content: flex-start;
        gap: 1.88rem;
        .line {
          width: 3.8125rem;
          height: 0.5rem;
          background-color: $bodyText;
          border-radius: 1rem;
        }
        .Date {
          @include flex_between();
          justify-content: flex-start;
          width: 12rem;
          height: 1.875rem;
          // flex-direction: column;
        }
        a {
          text-decoration: none;
          color: $bodyText;

          /* Desktop/Caption */
          font-family: Lato;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    @include mobile {
      order: 1;
    }
    @include desktop {
      order: 3;
    }
  }
}
