@import "../scss/extends";
@import "../scss/media-queries";
@import "../scss/variables";
@import "../scss/mixims";

.Footer {
  // @include mobile {
  //   // display: none;
  // }

  // @include desktop {
  // max-width: 100%;
  display: flex;
  width: 100%;
  min-height: 29.6875rem;
  background: $primary;
  margin-top: 6rem;
  @include grid(4);
  .box {
    width: 21rem;
    @include flex_col();
    .linkes {
      @include flex_col();
      gap: 1.5rem;
    }
    h3 {
      color: $secondary;

      /* Desktop/Paragraph 2 */
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 2.44rem;
    }
    a {
      color: $background;

      /* Desktop/Paragraph 2 */
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }
  .boxa {
    @include grid(1);
    .img {
      width: 13.96875rem;
      height: 9.3125rem;
      @include image("/footerLogo.svg");
      margin-bottom: 4.38rem;
    }
    .icons {
      @include flex_center();
      justify-content: flex-start;
      gap: 1rem;
      a {
        // border: 1px solid red;
        font-size: 2rem;
        color: $secondary;
      }
    }
  }
  // }
}
