@import "../../../scss/extends";
@import "../../../scss/media-queries";
@import "../../../scss/mixims";
@import "../../../scss/variables";

#Leadership {
  // border: 1px solid gold;
  .di_line1 {
    margin-top: 6rem;
    @include flex_between();
    width: 100%;
    // background-color: red;
    // border: 1px solid red;
    height: fit-content;
    @include mobile {
      flex-direction: column;
      padding-left: 0rem;
      padding-right: 0rem;
    }
    @include desktop {
      padding-left: 3rem;
      padding-right: 3rem;
      flex-direction: row;
    }
    .di_cell1 {
      // border: 1px solid green;
      @include flex_col();
      gap: 2.06rem;
      @include mobile {
        width: 100%;
      }
      @include desktop {
        width: unset;
      }
      .unit_1 {
        background-color: $background;
        min-height: 13.94rem;
        border-radius: 1rem;
        @include mobile {
          padding: 2.25rem;
          width: 100%;
          justify-content: center;
        }
        @include desktop {
          width: 38rem;
          justify-content: flex-start;
          padding: 2.25rem;
        }
        .un_line1 {
          margin-top: 0.5rem;
          //   border: 1px solid red;
          @include flex_between();
          background-color: $foreground;
          border-radius: 1rem;
          padding: 0.625rem;
          .un_cell1 {
            @include flex_between();
            justify-content: flex-start;
            @include mobile {
              gap: 0.5rem;
            }
            @include desktop {
              gap: 2rem;
            }
            .texts {
              h5 {
                color: $mainText;

                /* Desktop/Heading 5 */
                font-family: Lato;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              p {
                color: $bodyText;

                /* Desktop/Body 5 */
                font-family: Lato;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include mobile {
                  font-size: 1rem;
                }
                @include desktop {
                  font-size: 1.125rem;
                }
                span {
                  font-weight: 700;
                }
              }
            }
          }
          .un_cell2 {
            button {
              background-color: $active;
              padding: 0.25rem 1rem;
              border-radius: 1rem;
              border: none;
              color: $mainText;
              font-family: Lato;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .un_line2 {
          @include flex_col();
          justify-content: flex-start;
          margin-top: 0.5rem;
          h5 {
            color: $bodyText;
            text-align: left;

            /* Desktop/Heading 5 */
            font-family: Lato;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0.5rem;
          }
        }
      }
      .unit_2 {
        padding: 2.25rem;
        min-height: 17.63rem;
        background-color: $background;
        border-radius: 1rem;
        @include mobile {
          width: 100%;
        }
        @include desktop {
          width: 38.0625rem;
        }
        .un_line1 {
          margin-top: 0.5rem;
          //   border: 1px solid red;
          @include flex_between();
          //   background-color: $foreground;
          border-radius: 1rem;
          padding: 0.625rem;
          .un_cell1 {
            @include flex_between();
            justify-content: flex-start;
            @include mobile {
              gap: 0.5rem;
            }
            @include desktop {
              gap: 2rem;
            }
            .texts {
              h5 {
                color: $mainText;

                /* Desktop/Heading 5 */
                font-family: Lato;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              p {
                color: $bodyText;

                /* Desktop/Body 5 */
                font-family: Lato;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include mobile {
                  font-size: 1rem;
                }
                @include desktop {
                  font-size: 1.125rem;
                }
                span {
                  font-weight: 700;
                }
              }
            }
          }
          .un_cell2 {
            button {
              background-color: $inactive;
              padding: 0.25rem 1rem;
              border-radius: 1rem;
              border: none;
              color: $mainText;
              font-family: Lato;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
    .di_cell2 {
      min-height: 32.46rem;
      background-color: $background;
      border-radius: 1rem;
      width: 100%;
      @include mobile {
        width: 100%;
        padding: 1.25rem;
        margin-top: 2rem;
      }
      @include desktop {
        width: 38.0625rem;
        padding: 2.25rem;
        margin-top: 0rem;
      }
      .un_line1 {
        margin-top: 0.5rem;
        //   border: 1px solid red;
        @include flex_between();
        //   background-color: $foreground;
        border-radius: 1rem;
        padding: 0.625rem;
        .un_cell1 {
          @include flex_between();
          justify-content: flex-start;
          @include mobile {
            gap: 0.5rem;
          }
          @include desktop {
            gap: 2rem;
          }
          .texts {
            h5 {
              color: $mainText;

              /* Desktop/Heading 5 */
              font-family: Lato;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            p {
              color: $bodyText;

              /* Desktop/Body 5 */
              font-family: Lato;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              span {
                font-weight: 700;
              }
            }
          }
        }
        .un_cell2 {
          button {
            background-color: $inactive;
            padding: 0.25rem 1rem;
            border-radius: 1rem;
            border: none;
            color: $mainText;
            font-family: Lato;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
  .di_line2 {
    margin-top: 6.19rem;
    #Direct_Line3 {
      .table {
        .row {
          .four {
            .text {
              color: $bodyText;
            }
          }
        }
      }
    }
  }
}
