@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/mixims";
#copy {
  @include flex_between();
  gap: 1.06rem;
  min-height: 3.375rem;
  background-color: $background;
  border-radius: 1rem;
  @include mobile {
    flex-direction: column;
    justify-content: center;
    padding-right: 0rem;
  }
  @include desktop {
    justify-content: flex-start;
    flex-direction: row;
    padding-right: 1rem;
  }
  .link {
    border-radius: 1rem;
    background: $secondary;
    padding: 1rem;
    color: $primary;

    /* Desktop/Heading 5 */
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    // border: 1px solid red;
    width: 100%;
    @include mobile {
      text-align: center;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
    @include desktop {
      text-align: center;
      margin-bottom: 0rem;
      margin-top: 0rem;
    }
  }
  button {
    @include flex_center();
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    .copyIcon {
      cursor: pointer;
    }
  }
}
