@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/mixims";
#copy {
  @include flex_between();
  justify-content: flex-start;
  gap: 1.06rem;
  height: 3.375rem;
  background-color: $background;
  padding-right: 1rem;
  border-radius: 1rem;
  .link {
    border-radius: 1rem;
    background: $secondary;
    padding: 1rem;
    color: $primary;

    /* Desktop/Heading 5 */
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  button {
    @include flex_center();
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    .copyIcon {
      cursor: pointer;
    }
  }
}
