@import "../scss/extends";
@import "../scss/media-queries";
@import "../scss/variables";
@import "../scss/mixims";
@import "../scss/googlesans";

#MobileTable2 {
  @include mobile {
    display: flex;
    background-color: $background;
    // border: 1px solid red;
    @include flex_col();
    padding: 1rem;
    gap: 1rem;
  }
  @include desktop {
    display: none;
  }
  .row {
    @include flex_between();
    gap: 1rem;
    border-bottom: 1px solid $foreground;
    &:last-child {
      border-color: transparent;
    }
    .cell1,
    .cell2 {
      @include flex_col();
      gap: 0.5rem;
    }
    .cell2 {
      @include flex_col();
      text-align: right;
      .green {
        color: #10c10c;
      }
      .red {
        color: #a70404;
      }
    }
    .h3 {
      //styleName: Mobile/Heading 4 m;
      font-family: Lato;
      font-size: 1rem;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
    .h6 {
      //styleName: Desktop/Caption;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
    }
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
