@import "../../scss/extends";
@import "../../scss/media-queries";
@import "../../scss/mixims";
@import "../../scss/variables";

#Dash_Line4 {
  margin-top: 2.75rem;
  @include flex_center();
  align-items: flex-start;
  @include mobile {
    flex-direction: column;
  }
  @include desktop {
    flex-direction: row;
  }
  gap: 1.6rem;

  .boxa {
    min-height: 24rem;
    background-color: $background;
    padding: 2.25rem;
    @include mobile {
      width: 100%;
    }
    @include desktop {
      width: 38rem;
    }
    .cell1 {
      @include flex_between();
      h3 {
        color: $mainText;

        /* Desktop/Heading 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .cell2 {
      @include flex_col();
      margin-top: 0.5rem;
      padding: 0.6rem 0rem;
      gap: 0.5rem;
      .list {
        @include flex_between();
        gap: 2rem;

        border-bottom: 1.5px solid #ece9f1;
        &:last-child {
          border-color: transparent;
        }
        .unit1 {
          @include flex_between();

          @include mobile {
            gap: 0.5rem;
          }
          @include desktop {
            gap: 2rem;
          }
          .texts {
            // border: 1px solid red;
            h5 {
              color: $mainText;

              /* Desktop/Heading 5 */
              font-family: Lato;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            p {
              color: $bodyText;

              /* Desktop/Body 5 */
              font-family: Lato;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              // @include flex_between();
              justify-content: flex-start();
              .rate {
                @include mobile {
                  display: none;
                }
                @include desktop {
                  display: flex;
                }
              }
            }
          }
        }
        .unit2 {
          @include flex_col();
          a {
            border-radius: 1rem;
            text-decoration: none;
            padding: 0.25rem 1rem;
            color: $mainText;
            font-family: Lato;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
  .boxb {
    width: 25.1rem;
    min-height: 15rem;
    background-color: $background;
    padding: 2.25rem;
    .cell1 {
      @include flex_between();
      h3 {
        color: $mainText;

        /* Desktop/Heading 5 */
        font-family: Lato;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .cell2 {
      @include flex_col();
      margin-top: 0.5rem;
      padding: 0.6rem 0rem;
      gap: 0.5rem;
      .list {
        @include flex_between();

        border-bottom: 1.5px solid #ece9f1;
        &:last-child {
          border-color: transparent;
        }
        .unit1 {
          @include flex_between();
          gap: 2rem;
          .img {
            span {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              @include flex_center();
              background-color: $secondary;
            }
          }
          .texts {
            h5 {
              color: $mainText;

              /* Desktop/Heading 5 */
              font-family: Lato;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            p {
              color: $bodyText;

              /* Desktop/Body 5 */
              font-family: Lato;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @include flex_between();
              justify-content: flex-start();
            }
          }
        }
        .unit2 {
          @include flex_col();
          a {
            border-radius: 1rem;
            text-decoration: none;
            padding: 0.25rem 1rem;
            color: $mainText;
            font-family: Lato;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
}
