@import "../../../../scss/extends";
@import "../../../../scss/media-queries";
@import "../../../../scss/mixims";
@import "../../../../scss/variables";

#BinaryTree {
  height: 37.5rem;
  background-color: $background;
  // border: 1px solid red;
  @include mobile {
    width: 100%;
    padding: 0.1rem;
  }
  @include desktop {
    padding: 2.25rem;
    width: 39.1875rem;
  }
  .line1 {
    @include flex_between();
    // width: 100%;
    h5 {
      @include flex_center();
      gap: 0.5rem;
      color: $mainText;

      /* Desktop/Heading 5 */
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .line2 {
    @include grid(1);
    align-items: flex-start;
    // height: 37.5rem;
    .img {
      @include flex_center();
    }
    .a {
      // border: 1px solid gray;
      width: 100%;
      .img {
        width: 3rem;
        height: 3rem;
        // border: 1px solid red;
        margin: auto;
        // @include image("../../../../../assets/user1.svg");
      }
    }
    .b {
      // border: 1px solid gray;
      width: 100%;
      @include flex_center();
      .boz {
        width: 9.11906rem;
        height: 8.46663rem;
        // border: 1px solid $primary;
      }
      .boza {
        @include flex_center();
        // width: 100%;
        .I {
          border: 1px solid $primary;
          width: 19rem;
          height: 2px;
          background-color: $primary;
          transform: rotate(-45deg);
          // margin-left: 1rem;
        }
      }
      .bozb {
        @include flex_center();
        // width: 100%;
        overflow: hidden;
        .I {
          border: 1px solid $primary;
          width: 10rem;
          height: 2px;
          background-color: $primary;
          transform: rotate(40deg);
          // margin-right: 6rem;
          // margin-right: 2rem;
        }
      }
    }
    .c {
      width: calc(9.11906rem * 2);
      height: 3rem;
      // border: 1px solid black;
      @include flex_between();
      .boz {
        .img {
          width: 3rem;
          height: 3rem;
          // border: 1px solid red;
        }
      }
    }
    .d {
      width: calc(100% - 5.25006rem - 5.25006rem);
      height: 5.25006rem;
      // border: 1px solid green;
      @include flex_between();
      .one,
      .two {
        @include flex_between();
        .boz {
          width: 3.82475rem;
          height: 5.25006rem;
          // border: 1px solid purple;
        }
        .boz1 {
          @include flex_center();
          .I {
            border: 1px solid $primary;
            width: 4rem;
            height: 2px;
            background-color: $primary;
            transform: rotate(-50deg);
            // margin-right: 6rem;
            // margin-right: 2rem;
          }
        }
        .boz2 {
          @include flex_center();
          .I {
            border: 1px solid $primary;
            width: 4rem;
            height: 2px;
            background-color: $primary;
            transform: rotate(50deg);
            // margin-right: 6rem;
            // margin-right: 2rem;
          }
        }
      }
    }
    .e {
      width: calc(100% - 8rem);
      height: 3rem;
      // border: 1px solid green;
      @include flex_between();
      .img {
        width: 3rem;
        height: 3rem;
        // border: 1px solid aqua;
      }
      .one {
        @include flex_between();
        gap: 4rem;
      }
      .two {
        @include flex_between();
        gap: 4rem;
      }
    }
    .f {
      width: calc(100% - 9rem);
      height: 4.2rem;
      // border: indigo 1px solid;
      @include flex_between();
      margin-left: 5rem;
      .boz {
        width: 2.867rem;
        height: 4.2rem;
        // border: 1px solid navy;
        @include flex_center();
        .I {
          border: 1px solid $primary;
          width: 4rem;
          height: 2px;
          background-color: $primary;
          transform: rotate(50deg);
          // margin-right: 6rem;
          // margin-right: 2rem;
        }
      }
      .boz1 {
        opacity: 0;
      }
    }
    .g {
      width: calc(100% - 14rem);
      margin-left: 16rem;
      height: 3rem;
      // border: 1px solid grey;
      @include flex_between();
      justify-content: space-around;
      // gap: 5.88rem;
      .img {
        width: 3rem;
        height: 3rem;
        // border: 1px solid olive;
      }
    }
  }
}
